*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    min-height: 100vh;
}
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    width: 100%;
    margin: 0;
    padding: 20px 80px;
    z-index: 1;
}

header.sticky{
    background: #fff;
    padding: 5px 50px;
    margin: 0;
}
.logo{
    position: relative;
    font-weight: bold;
    display: flex;
    color: red;
    font-size: 2rem;

}
span{
    color: red;
}
header ul{
    position: relative;
    display: flex;
    font-size: 1.5rem;
    font-weight: 200;
    /* padding-right: 50px; */
}
header ul li{
    list-style: none;
    margin: 20px 30px;
}
header ul a{
    text-decoration: none;
    color: #fff;
}
header.sticky ul li a{
    color: #000;
}
header ul li a:hover{
    border-bottom: 2px solid red;
}
.banner{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.banner h1{
    color: red;
    font-size: 5rem;
    position: relative;
    display: flex;
}
.banner h2{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #000;
    color: red;
    border: 1px solid red;
}
div p{
    color: red;
    text-align: center;
    height: 50vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: rgb(141, 141, 139);
    
}
footer p{
    color: #fff;
    text-align: center;
}


