*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: inherit;
}
button{
    padding: 10px;
    color: #ffffff;
    background: teal;
    border: none;
    outline: none;
    cursor: pointer;
}
#container{
    position: fixed;
    bottom: 10px;
    right: 10px;
    
}
.toast{
    background: #ff0157;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
}




