*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
button{
    background: #ff0157;
    color: #fff;
    padding: 8px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* width: 400px; */        
    background: rgba(0,0,0,0.2);

    display: none;
    justify-content: center;
    align-items: center;

    
}
.container.active{
    display: flex;
}
.popup{
    background: #fff;
    width: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.08);
    position: relative;
}
.popup button{
    position: absolute;
    background: #fff;
    font-size: 1.2em;
    color: #ff0157;
    top: 5px;
    right: 5px;
}
.popup h2{
    margin-bottom: 15px;
}




